In [2]:
import pandas as pd
from pytrends.request import TrendReq

pytrend = TrendReq()
print("pytrend is ready")

pytrend is ready

In [11]:
kw = ['Python']
pytrend.build_payload(kw_list=kw)

df = pytrend.interest_by_region()
df.head()

                Python
geoName
Afghanistan          0
Albania              0
Algeria              2
American Samoa       0
Andorra              0

In [26]:
df = pytrend.trending_searches(pn="indonesia")
df.head()

                              0
0                   Galatasaray
1                       Rendang
2  Peringatan Darurat Indonesia
3                         Philo
4                       Binance

In [27]:
df = pytrend.top_charts(2022, hl="en-IN", tz=300, geo='GLOBAL')
df.head()

              title exploreQuery
0            Wordle
1  India vs England
2           Ukraine
3   Queen Elizabeth
4         Ind vs SA

In [28]:
keyword = 'Python'
data = pytrend.suggestions(keyword)
df = pd.DataFrame(data)
df.head()

             mid                     title                  type
0       /m/05z1_                    Python  Programming language
1       /m/05tb5             Python family                 Snake
2  /g/11jpnrqpjd              Ishan Sharma              YouTuber
3      /m/0cv6_m                    Python                 Snake
4  /g/11h38lrpkr  Python for Data Analysis  Book by Wes McKinney

In [32]:
# Set your keyword and time frame
keyword = ['Data Science'] # for example we give 'Data Science' as the search term
timeframe = 'today 5-y'  # Time frame: last year

# Build the payload for the keyword
pytrend.build_payload(kw_list=keyword,
                       cat=0, # Category
                       timeframe=timeframe,
                       geo='DE', # Geographic location, in this case 'Deutschland'
                       gprop='') # Google Search Property

# Retrieve interest over time data
interest_over_time_df = pytrend.interest_over_time() # store the interest rate which is between 0 and 100
related_topics = pytrend.related_topics() # store related topics
related_queries = pytrend.related_queries() # store related queries
dff = interest_over_time_df.reset_index()
dff.drop('isPartial', axis=1, inplace= True)

/home/james/Documents/github/chatbot-ollama/chatbot/lib/python3.10/site-packages/pytrends/request.py:260: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df = df.fillna(False)

IndexError: list index out of range